body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;   
}

form {
    text-align: center;
    width: 100%;
}

form label {
    display: block;
}

form input,select {
    width: 100%;
}

form .field-validation-error {
    color: indianred;
}

header {
    padding: 2em 6em;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid grey;
    box-shadow: grey 0 3px 3px;
}

.grid {
    display: grid;
    grid-template-columns: 70%;
    grid-gap: 1em;
    justify-items: center;
    justify-content: center;
}
