@{
    ViewData["Title"] = "Home Page";
}

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">Vehicle Parking Simulation</div>

        <div class="card-body">
            <button onclick="location.href='@Url.Action("ReadLicense", "Home")'">Enter</button>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">Operator</div>
        <div class="card-body">
            <button onclick="location.href='@Url.Action("Index", "Operator")'">Control Panel</button>
        </div>
    </div>
</div>
